DB_NAME=database_name_here
DB_USER=database_user_here
WP_HOST=wordpress_host_site_here # can be localhost for local deployment
WP_SITEURL=wordpress_site_url_here # can be localhost for local deployment
DB_DATABASE=wordpress_database_name_here
INTRA=42_intra_name_here
WP_USER=wordpress_user_here
DB_PORT=3306
WP_ADMIN_USER=wordpress_admin_user_here
WP_ADMIN_EMAIL=wordpress_admin_email_here
REDIS_PORT=6379